.event-price {
    padding: 5rem;
    height: 75vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.event-price h1 {
    font-size: 3rem;
    font-weight: bold;

    transition: all 0.15s ease-in-out;
}

.event-price h1:hover {
    transform: rotate(360deg);
}

.event-price .ep-price p {
    font-size: 2rem;
}






.event-price .ep-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-price .ep-button p {
    font-size: 1rem;
}

.event-price .ep-button .ep-button-s {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.event-price .ep-button .ep-button-s div {
    width: 35vw;
    height: 0.1px;
    border-radius: 5px;
    background-color: black;
}

.event-price .ep-button .ep-button-s button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: #1B1B20;
    color: white;
    font-family: Pragmatica-bold;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.event-price .ep-button .ep-button-s button:hover {
    background-image: linear-gradient(to right,#5B7EE8, #22D7DB);
    transform: scale(1.15);
}

@media screen and (max-width: 500px) {
    .event-price .ep-button .ep-button-s div {
        width: 15vw;
    }

    .event-price .ep-price p {
        font-size: 1rem;
        text-align: center;
    }
}