.infest-main {
    height: 100vh;
    width: 100%;
    color: black;
    background-color: #1B1B20;
    padding: 5rem 5rem;
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../assets/background/2.png);
} 

.infest-main .infest-main_logo img {
    height: 100px;
    width: 400px;
}

/* INFEST TITLE */
.infest-main .infest-main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.infest-main .infest-main-title .infest-main-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.infest-main .infest-main-title .infest-main-title-text h1 {
    font-size: 3rem;
}

.infest-main .infest-main-title .infest-main-title-text p {
    margin-top: 2rem;
    font-size: 1.25rem;
    text-align: justify;
    line-height: 2rem;
}

.infest-main .infest-main-title .infest-main-title-text span {
    font-size: 1.5rem;
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pragmatica-bold;
}

@media screen and (max-width: 840px) {
    .infest-main {
        padding: 1rem;
    }

    .infest-main .infest-main_logo img {
        height: 75px;
        width: 300px;
    }

    .infest-main .infest-main-title {
        margin-top: 5rem;
        padding: 1rem;
    }

    .infest-main .infest-main-title .infest-main-title-text {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .infest-main {
        padding: 1rem;
    }

    .infest-main .infest-main-title {
        margin-top: 0;
        width: 100%;
    }
    
    .infest-main .infest-main-title .infest-main-title-text h1 {
        font-size: 2rem;
    }

    .infest-main .infest-main-title .infest-main-title-text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}