.join-us {
    height: 75vh;
    padding: 5rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.join-us h1 {
    text-align: justify;
    width: 70%;
}

.join-us .ju-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-us .ju-time p {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;

    justify-content: center;
    transition: all 0.15s ease;
}

.join-us .ju-time p:first-child {
    margin-bottom: 1rem;
}

.join-us .ju-time p:hover {
    transform: scale(1.1);
}

.join-us .ju-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.join-us .ju-button div {
    width: 35vw;
    height: 1px;
    border-radius: 5px;
    background-color: black;
}

.join-us .ju-button button {
    background-color: #1B1B20;
    padding: 1.5rem 2rem;
    color: white;
    border-radius: 10px;
    font-family: Pragmatica-bold;
    transition: all 0.15s ease;
    cursor: pointer;
}

.join-us  button:hover {
    background-image: linear-gradient(to right,#5B7EE8, #22D7DB);
    transform: scale(1.15);
}

@media screen and (max-width: 840px) {
    .join-us h1 {
        font-size: 1.5rem;
        width: 90%;
    }

    .join-us .ju-button button  {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .join-us {
        padding: 5rem 1rem;
    }

    .join-us h1 {
        font-size: 1rem;
    }

    .join-us .ju-button div {
        width: 15vw;
    }
}