.investment-facts {
    height: 100vh;
    padding: 3rem;
    background-image: url(../../../assets/background/3.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow-x: hiddden;
}

.investment-facts h1 {
    font-size: 3.5rem;
    font-family: Pragmatica-bold;
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.investment-facts .if-facts {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.investment-facts .if-facts .if-wrapper {
    width: 300px;
    height: 300px;
    background-image: linear-gradient(-45deg,#5B7EE8, #22D7DB);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    box-shadow: 10px 10px 5px rgba(0, 0, 0, 25%);

}

.investment-facts .if-facts .if-wrapper:hover {
    transform: scale(1.1);
}

.investment-facts .if-facts .if-wrapper .if-facts-box {
    width: 97.5%;
    height: 97.5%;
    background-color: #1B1B20;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.5rem;
    text-align: center;
    align-items: center;
    color: white;
}

.investment-facts .if-facts .if-wrapper .if-facts-box p:nth-child(2) {
    opacity: 75%;
}

.investment-facts .if-showbox-wrapper {
    height: 70%;
    width: 70%;
    position: absolute;
    border-radius: 10px;
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0%);
    transition: all 0.3s ease;
    transform-origin: center center;

    animation-name: scaleChange;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.investment-facts .if-showbox-wrapper .if-showbox {
    width: 99%;
    height: 98%;
    background-color: linear-gradient(to left,#5B7EE8, #22D7DB);
    border-radius: 10px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2rem;
}

.investment-facts .if-showbox-wrapper .if-showbox .if-showbox-close {
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem 2rem;
    color: white;
    background-color: #1B1B20;
    font-family: Pragmatica-bold;
    transition: all 0.15s ease-in-out;
    border: 1px solid white;
}

.investment-facts .if-showbox-wrapper .if-showbox .if-showbox-close:hover {
    transform: scale(1.25);
}

.investment-facts .if-showbox-wrapper .if-showbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    border-radius: 10px;
}

.investment-facts .if-showbox-wrapper .if-showbox div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

@keyframes scaleChange {
    from {
        transform: scale(0%);
    }
    to {
        transform: scale(100%);
    }
  }

@media screen and (max-width: 840px) {
    .investment-facts h1 {
        font-size: 3rem;
    }

    .investment-facts .if-facts .if-wrapper {
        height: 200px;
        width: 200px;
    }

    .investment-facts .if-facts .if-wrapper p {
        font-size: 0.75rem;
    }

    .investment-facts .if-showbox-wrapper p {
        font-size: 1rem;
    }

    .investment-facts .if-showbox-wrapper .if-showbox .if-showbox-close {
        padding: 0.75rem 1.5rem;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 500px) {
    .investment-facts {
        padding: 5rem 1rem;
        height: 105vh;
        background-image: url(../../../assets/background/3.png);
    }

    .investment-facts h1 {
        font-size: 2rem;
    }

    .investment-facts .if-facts {
        display: flex;
        flex-direction: column;
    }

    .investment-facts .if-facts .if-wrapper {
        height: 150px;
        width: 300px;
    }

    .investment-facts .if-showbox-wrapper p {
        font-size: 0.75rem;
        line-height: 1.1rem;
    }
}