.footer {
    width: 100%;
    height: 50vh;
    background-color: #1B1B20;
    color: white;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    min-width: 320px;
}

/* ==================== INFORMATION ==================== */
.footer .information {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer .information .title h1 {
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pragmatica-bold;
}

.footer .information .slogan {
    font-size: 0.8rem
}

.footer .information .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.footer .information .logo img:first-child {
    width: 8rem;
    height: 2rem;
}

.footer .information .logo img:last-child {
    height: 3rem;
    width: 3.75rem;
}

/* ==================== SOCIAL MEDIA ==================== */
.footer .socials   {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .socials h1 {
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-family: Pragmatica-bold;
}

.footer .socials p {
    color: white;
    font-size: 0.8rem;
}
.footer .socials div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
}

.footer .socials .socials-icon {
    color: white;
    font-size: 1.5rem;
}

/* ==================== CONTACT INFORMATION ==================== */
.footer .contact-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .contact-information h1 {
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-family: Pragmatica-bold;
}

.footer .contact-information h6 {
    font-size: 1rem;
}

.footer .contact-person {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.footer .contact-person div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.25rem;
}

.footer .contact-person div p {
    display: flex;
    justify-content: flex-end;
}

.footer .contact-information .main-event-contact .contact-person,
.footer .contact-information .competition-contact .contact-person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .contact-information .contact-person .line-icon {
    color: white;
    font-size: 0.9rem;
    margin-left: 5px;
    transform: translateY(2px);
}

/* ==================== REGISTRATION ==================== */
.footer .registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer .registration p {
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Pragmatica-bold;
}

.footer .registration button {
    padding: 1rem 2rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: Pragmatica-bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer .registration button:hover {
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    color: white;
    transform: scale(1.15);
}

/* ==================== COPYRIGHT ==================== */
.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1B1B20;
    padding: 5rem;
    min-width: 320px;
}

/* ===== MEDIA QUIRIES ===== */
@media screen and (max-width: 1260px) {
    .footer {
        padding: 1rem 3rem;
        height: 800px;
        padding-top: 3rem;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 10rem;
    }

    .footer .information .logo {
        margin-top: 2rem;
    }

    /* .socials {
        display: flex;
        align-items: flex-end;
    } */

    .registration {
        transform: translateY(-7.5rem);
    }
}

@media screen and (max-width: 685px) {
    .footer {
        padding: 1rem 2rem;
    }

    .footer .information .logo {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 570px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        height: 1000px;
    }

    .registration {
        transform: translateY(0);
    }
}

