.equity-price {
    height: 85vh;
    width: 100%;
    padding: 5rem;
    background-color: #1B1B20;
    color: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    overflow-x: hidden;
}

.equity-price h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-family: Pragmatica-bold;
}

.equity-price p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.equity-price .ep-biaya,
.equity-price .ep-hadiah {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    height: 400px;
    width: 600px;
    border-radius: 10px;

    transition: all 0.15s ease-in-out;
}

.equity-price .ep-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1B1B20;
    height: 97.5%;
    width: 97.5%;
    border-radius: 10px;
}

.equity-price .ep-biaya:hover ,
.equity-price .ep-hadiah:hover {
    transform: scale(1.05);
} 

.equity-price .ep-wrapper:hover {
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
}

@media screen and (max-width: 840px) {
    .equity-price .ep-wrapper  {
        padding: 0.75rem;
    }

    .equity-price .ep-wrapper h3 {
        font-size: 1.5rem;
    }

    .equity-price p {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 500px) {
    .equity-price {
        padding: 1rem;
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .equity-price .ep-biaya,
    .equity-price .ep-hadiah {
        width: 90%;
    }
}