.infest-event {
    height: 100vh;
    padding: 5rem;
    background-image: url(../../../assets/background/5.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infest-event .event-title {
    font-size: 1.5rem;
    font-family: Pragmatica-bold;
    color: white;
}

.infest-event .event-category {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-top: 4rem;
}

.infest-event .event-category .event-card {
    width: 97.5%;
    height: 97.5%;
    background-color: #1B1B20;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    color: white;
    background-image: none;
    transition: all 0.15s ease-in-out;
}

.infest-event .event-category .event-card-wrapper {
    width: 375px;
    height: 375px;
    border-radius: 10px;
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 25%);
}

.infest-event .event-category .event-card h3 {
    font-size: 2rem;
    text-align: center;
}

.infest-event .event-category .event-card p {
    text-align: justify;
    line-height: 1.5rem;
}

.infest-event .event-category .event-card-wrapper:hover {
    transform: scale(1.075);
}

.infest-event .event-category .event-card:hover {
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-color: none;
}

@media screen and (max-width: 840px) {
    .infest-event .event-category .event-card-wrapper {
        height: 200px;
        width: 200px;
    }

    .infest-event .event-category .event-card-wrapper h3 {
        font-size: 1rem;
    }

    .infest-event .event-category .event-card-wrapper p {
        display: none;
    }

    .infest-event .event-title {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .infest-event .event-category .event-card-wrapper {
        height: 150px;
        width: 300px;
    }

    .infest-event {
        height: 110vh;
        background-image: url(../../../assets/background/3.png);
    }

    .infest-event .event-category {
        display: flex;
        flex-direction: column;
    }

    .infest-event .event-title {
        text-align: center;
        font-size: 1rem;
    }
}