.event-banner {
    height: 100vh;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;
}

.event-banner .eb-documentation {
    width: 100%;
    height: 100%;
}

.event-banner .eb-documentation img {
    object-fit: fill;
    width: 100%;
}

.event-banner .eb-title {
    position: absolute;
    z-index: 5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 50%;
}

.event-banner .eb-title h1 {
    font-size: 5rem;
    font-family: Pragmatica-bold;
    /* background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: 3px 3px 1px black;
} 

.event-banner .eb-title p {
    text-align: justify;
    font-size: 1.5rem;
    font-family: Pragmatica-bold;
    text-shadow: 3px 3px 1px black;
}

@media screen and (max-width: 840px) {
    .event-banner {
        height: 70vh;
    }

    .event-banner .eb-title {
        gap: 1rem;
    }

    .event-banner .eb-title h1 {
        font-size: 3rem;
    }

    .event-banner .eb-title p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .event-banner {
        height: 47vh;
    }

    .event-banner .eb-title {
        width: 80%;
    }

    .event-banner .eb-title h1 {
        font-size: 2rem;
    }

    .event-banner .eb-title p {
        font-size: 0.75rem;
    }
}