.equity-timeline {
    width: 100%;
    padding: 5rem;
    height: 80vh;
    margin-top: 3rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.equity-timeline .et-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.equity-timeline .et-line {
    height: 1px;
    width: 30%;
    background-color: black;
}

.equity-timeline h1 {
    font-family: Pragmatica-bold;
    transition: all 0.15s ease-in-out;
}

.equity-timeline h1:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pragmatica-bold;
}

.equity-timeline .et-timeline {
    margin-top: 3rem;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.equity-timeline .et-timeline p {
    margin-bottom: 1rem;
}

.equity-timeline button {
    padding: 1rem 2rem;
    background-color: #1B1B20;
    border-radius: 10px;
    margin-top: 2rem;
    transition: all 0.15s ease;
    cursor: pointer;
}

.equity-timeline button a {
    color: white;
    font-family: Pragmatica-bold;
}

.equity-timeline button:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to left,#5B7EE8, #22D7DB);
}

@media screen and (max-width: 840px) {
    .equity-timeline .et-timeline{
        width: 90%;
    }

    .equity-timeline h1 {
        font-size: 1rem;
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .equity-timeline {
        padding: 1rem;
    }

    .equity-timeline .et-header {
        gap: 1rem;
        text-align: center;
    }

    .equity-timeline h1 {
        width: 100%;
    }

    .equity-timeline .et-timeline {
        width: 100%;
    }
}