.infest-start {
    height: 65vh;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    scroll-behavior: smooth;

}

.infest-start .infest-start-scr {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    transform: rotate(90deg);
}

.infest-start .infest-start-scr div {
    content: ' ';
    height: 1px;
    width: 7.5rem;
    background-color: black;
}

.infest-start .infest-start-scr p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.infest-start .infest-start-scr p:hover {
    transform: rotate(270deg) ;
}

.infest-start .infest-start-title {
    display: flex;
    flex-direction: column;
}

.infest-start .infest-start-title p {
    color: black;
    opacity: 75%;
}

.infest-start .infest-start-title h1 {
    margin-top: 2.5rem;
    font-size: 3rem;
}

.infest-start .infest-start-title a {
    color: black;
    text-decoration: underline;
    margin-top: 6rem;
    cursor: pointer;
    scroll-behavior: smooth;
}

@media screen and (max-width: 840px) {
    .infest-start .infest-start-title h1 {
        font-size: 2.5rem;
    }
    
    .infest-start .infest-start-scr p {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .infest-start {
        padding: 1rem;
        margin-top: 2rem;
    }

    .infest-start .infest-start-scr {
        display: none;
    }

    .infest-start .infest-start-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .infest-start .infest-start-title h1 {
        font-size: 1.5rem;
    }
}